<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Roaring Dinosaur Toy Shop</title>
    <link th:href="@{style.css}" rel="stylesheet">
</head>
<body>
<div id="main-container">
    <header><a th:href="@{/itemlist}">
        <h1>Roaring Dinosaur Toy Shop</h1></a>
    </header>
    <form th:action="@{/back-to-main}">
        <button type="submit">go back</button>
    </form>
    <div class="container">
        <h1 th:if="${averageStock == null}"
            th:text="'The most expensive game is: ' + ${mostExpensive}"></h1>
        <h1 th:if="${averageStock != null}"
            th:text="'Average stock is ' + ${#numbers.formatDecimal(averageStock,2,2)}"></h1>
    </div>
</div>
</body>
</html>