<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Roaring Dinosaur Toy Shop</title>
    <link th:href="@{style.css}" rel="stylesheet">
</head>
<body>
<div id="main-container">
    <div class="container">
        <header>
            <a th:href="@{/itemlist}">
                <img src="dinosaur.png" alt="Roarr!" width="50" height="60">
                <h1>Roaring Dinosaur Toy Shop</h1></a>
        </header>
    </div>
    <div class="container-control">
        <form th:action="@{/only-available}">
            <button type="submit">available only</button>
        </form>
        <form th:action="@{/cheapest-first}">
            <button type="submit">cheapest first</button>
        </form>
        <form th:action="@{/contains-pencil}">
            <button type="submit">contains pencils</button>
        </form>
        <form th:action="@{/average-stock}">
            <button type="submit">average stock</button>
        </form>
        <form th:action="@{/most-expensive}">
            <button type="submit">most expensive</button>
        </form>
        <form th:action="@{/change-currency}">
            <button type="submit">change currency</button>
        </form>
    </div>
    <div class="container-control">
        <form th:action="@{/filter-by-type}" method="post">
            <select name="type">
                <option value="building">building</option>
                <option value="figures">figures</option>
                <option value="boardgame">boardgame</option>
                <option value="creative">creative</option>
            </select>
            <button type="submit">filter by type</button>
        </form>
        <form th:action="@{/search-by-name}" method="post">
            <label for="search">Search for:</label>
            <input type="text" id="search" name="keyWord">
            <button type="submit">search</button>
        </form>
        <form th:action="@{/back-to-main}">
            <button type="submit">show all</button>
        </form>
    </div>
    <div class="container">
        <table>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            <tr th:each="item : ${items}">
                <td th:text="${item.name}"></td>
                <td th:text="${item.type}"></td>
                <td th:text="${item.description}"></td>
                <td th:if="${currency == 'EUR'}"
                        th:text="${item.price} + ' €'"></td>
                <td th:if="${currency == 'HUF'}"
                    th:text="${item.getPriceInHuf() + ' Ft'}"></td>
                <td th:text="${item.quantityOfStock}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>