<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Roaring Dinosaur Toy Shop</title>
    <link th:href="@{style.css}" rel="stylesheet">
</head>
<body>
<div id="main-container">
    <header><a th:href="@{/itemlist}">
        <h1>Roaring Dinosaur Toy Shop</h1></a>
    </header>
    <div class="container">
        <form th:action="@{/only-available}">
            <button type="submit">available only</button>
        </form>
        <form th:action="@{/cheapest-first}">
            <button type="submit">cheapest first</button>
        </form>
        <form th:action="@{/contains-pencil}">
            <button type="submit">contains pencils</button>
        </form>
        <form th:action="@{/average-stock}">
            <button type="submit">average stock</button>
        </form>
        <form th:action="@{/most-expensive}">
            <button type="submit">most expensive</button>
        </form>
    </div>
    <div class="container">
        <form th:action="@{/search-by-name}" method="post">
            <label for="search">Search for:</label>
            <input type="text" id="search" name="keyWord">
            <button type="submit">search</button>
        </form>
        <form th:action="@{/back-to-main}">
            <button type="submit">show all</button>
        </form>
    </div>
    <div class="container">
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            <tr th:each="item : ${items}">
                <td th:text="${item.name}"></td>
                <td th:text="${item.description}"></td>
                <td th:text="${item.price}"></td>
                <td th:text="${item.quantityOfStock}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>