<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Programmers Fox Club</title>
</head>
<body>
<div class="container">
    <ul>
        <li><a th:href="'/index?name=' + ${urlname}">Information</a></li>
        <li><a th:href="'/foodstore?name=' + ${urlname}">Food Store</a></li>
        <li><a th:href="'/trickcenter?name=' + ${urlname}">Trick Center</a></li>
        <li><a th:href="'/login'">Login</a></li>
    </ul>
    <img src="greenfox.png" alt="green fox">
    <p th:text="'Hello, I am ' + ${name} + '. Currently living on ' + ${food} + ' and ' + ${drink} + '. I know ' + ${trickCount} + ' trick(s).'"></p>
    <h1>Known tricks</h1>
    <ul th:if="${trickCount != 0}" th:each="trick: ${tricks}">
        <li th:text="${trick}"></li>
    </ul>
    <p th:if="${trickCount == 0}" th:text="'I don\'t know any tricks yet. Teach me some.'"></p>
</div>

</body>
</html>