<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GFA app</title>
</head>
<body>
<h1 th:text="'There are currently ' + ${studentCount} + ' students at the academy'"></h1>
<a href="gfa/list">list students</a>
<br>
<form action="/gfa/save" method="post">
    <input type="text" name="studentName" placeholder="student to add">
    <button type="submit">add</button>
</form>
<form action="/gfa/check" method="post">
    <input type="text" name="studentName" placeholder="student to check">
    <button type="submit">check</button>
</form>
</body>
</html>