<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit ToDo</title>
</head>
<body>
<form th:action="'/' + ${id} + '/edit-todo'" method="post">
    <label for="title">Title</label>
    <input id="title" name="title" th:value="${title}">
    <label for="description">Title</label>
    <input id="description" name="description" th:value="${description}">
    <label for="urgent">Urgent</label>
    <input id="urgent" name="urgent" type="checkbox" th:checked="${urgent}">
    <label for="done">Done</label>
    <input id="done" name="done" type="checkbox" th:checked="${done}">
    <button type="submit">edit</button>
</form>

</body>
</html>