<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new ToDo</title>
</head>
<body>
<form action="/add-todo" method="post">
    <input type="text" name="title" placeholder="title">
    <input type="text" name="description" placeholder="description">
    <label for="urgent">urgent</label>
    <input type="checkbox" name="urgent" id="urgent">
    <label for="done">done</label>
    <input type="checkbox" name="done" id="done">
    <button type="submit">add</button>
</form>

</body>
</html>