<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Reddit by B</title>
</head>
<body>
<div class="container">
    <a th:href="@{/new}" class="btn btn-primary mt-3">Submit new post</a>
    <div class="d-flex justify-content-center mt-6">
        <h1>Trending posts</h1>
    </div>

    <table class="table text-center font-weight-bold mt-3">
        <tr th:each="post : ${postList}">
            <td th:text="${post.score}" style="width: 5%"></td>
            <td style="width: 5%"><a th:href="'/vote?id=' +${post.id} + '&value=1'">+</a></td>
            <td style="width: 5%"><a th:href="'/vote?id=' +${post.id} + '&value=-1'">-</a></td>
            <td style="width: 65%" class="text-left font-weight-normal"><a th:href="${post.getValidUrl()}"
                                                                           th:text="${post.title}"></a></td>
            <td th:text="${post.getCreatedString}" style="width: 20%" class="font-weight-normal"></td>
        </tr>
    </table>
    <div class="d-flex justify-content-center">
        <a th:href="'/index?currentPage=' + ${currentPage -1}"><</a>
        <span th:text="${currentPage+1}"></span>
        <a th:href="'/index?currentPage=' + ${currentPage +1}">
            >
        </a>
    </div>
</div>
</body>
</html>